.container {    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


body {
    margin: 0;
    padding: 0;
    
    background-image: url(img/water-back.jpg);
    background-size: auto;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 10px #ffffff,
                 1px 1px 15px blue;
}

.sea {
    display: flex;
}

/*Стиль для JS объектов*/

.field {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    
    background-color: #ffffff;
    opacity: 1;
    border-radius: 10px;
}

.table {
    position: absolute;
    left: 39px;
    top: 39px;
    border-collapse: collapse;
}

.tblbody {
    margin: 0;
    padding: 0;
}

.cell {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    
    border: 2px solid black;
}