.container {
    background-color: rgba(169, 169, 169, 0.7);
    border-radius: 30px;
    width: 100%;
    height: 900px;
    max-width: 1200px;
    margin: 0 auto;
}


body {
    margin: 0;
    padding: 0;
    
    background: url(img/water-back.jpg) no-repeat;
    background-size: cover;
}

h1 {
    padding: 10px 10px;
    
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px #ffffff,
                 1px 1px 100px #ffffff;
}

.sea {
    display: flex;
}

/*Стиль для JS объектов*/

.field {
    position: relative;
    width: 500px;
    min-width: 100px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    
    background-color: #ffffff;
    opacity: 1;
    border-radius: 10px;
    
    box-shadow: 0 0 10px 0px black;
}

.table {
    position: absolute;
    left: 39px;
    top: 39px;
    border-collapse: collapse;
}

.tblbody {
    margin: 0;
    padding: 0;
}

.cell {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    
    border: 2px solid black;
}

.name-field {
    margin: 0 auto;
    font-size: 20px;
    padding-top: 5px;
    font-weight: bold;
}